# Ignore all files and directories
*

# Don't ignore .gitignore file itself
!.gitignore

# Don't ignore directories themselves (to ensure file patterns inside them are considered)
!*/

# Don't ignore JSON files in all directories
!**/*.json

# Don't ignore C files in all directories
!**/*.c
!**/*.h
!**/*.cpp
